* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Libre', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text);
}

:root {
    --text: #05151f;
    --faded: #303030;
    --background: #ffffff;
    --primary: #ffc604;
    --primary-faded: #ffc4042e;
    --secondary: #e5ebf6;
    --accent: #6d8fca;
    --correct: #4fbb4b;
    --wrong: #be0b23;
    --correct-text: #ffffff;
    --nav: #fff9e9ab;
}

.darkMode {
    --text: #f7fafd;
    --faded: #c0c0c0;
    --background: #010304;
    --primary: #ffc604;
    --primary-faded: #ffc4042e;
    --secondary: #e1eef4;
    --accent: #975ed4;
    --correct: #4cc64a;
    --wrong: #df253e;
    --correct-text: #ffffff;
    --nav: #fff9e9ab;
}

a {
    color: var(--text);
    text-decoration: none;
}

@font-face {
    font-family: Libre;
    src: url('../public/assets/fonts/LibreFranklin-VariableFont_wght.ttf') format('truetype');
}

@keyframes bg_gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes pulse {
    100% {
        border: 1px solid;
        box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
        outline-color: rgba(255, 255, 255, 0);
        outline-offset: 15px;
    }
}

@keyframes startUp {
    100% {
        background-size: 100vw 100vh;
    }
}

.nav_bar {
    margin: 0%;
    padding: 0;
    height: 8vh;
    display: flex;
    align-items: center;
    background-color: var(--nav);
    position: sticky;
    top: 0;
    border-bottom: 1px dotted var(--text);
    z-index: 90;
}

.nav_logo {
    margin-left: 5%;
}

.rightNav {
    display: flex;
    align-items: center;
    gap: 150px;
    margin-left: auto;
    margin-right: 5%;
}

.nav_links {
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    padding: 10px 15px;
}

.nav_links:hover {
    border-radius: 5px;
    color: white;
    background-color: var(--primary);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.lockedLinks {
    color: #cfcfcf;
    pointer-events: none;
}